//steam module config [gamesene config]
export const baseApi = process.env.API_BASE || 'https://gamesense.pub/forums/gtinj';
export const snykApi = 'https://gamesense.pub/forums/gtinj/getdll';
export const snykKey = 'VRHr?YP_Gb7d9LFh$ugktZHUe+gGBp#LGG3*bDLt';
export const account config.js = 'Oauth2.0';
{"isLoggedIn":true}